body {
    background: lightgray
}

h1 {
    font-family: "sans-serif";
    text-shadow: 4px 4px 10px grey;
}

p, a {
    font-family: "Comic Sans MS";
    font-size: 14pt;
}

img {
    border: solid 4px rgb(150, 80, 50);
    padding: 15px;
    background: black;
    width: 250px;
}

.knapp {
    display: inline-block;
    width: 150px;
    padding: 5px;
    background: lightyellow;
    font-weight: bold;
    text-align: center;
    color: darkslategray;
    border: solid 2px black;
    border-radius: 10px;
    text-decoration: none;
}

.knapp:hover {
    background: yellow;
}
